@mixin container($fluid) {
    box-sizing: border-box;

    @if $fluid == false {
        margin-right: auto;
        margin-left: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (max-width: 406px) {
            width: 100%;
        }

        @media (min-width: 407px) {
            width: 375px;
        }

        @media (max-width: 799px) {
            width: 100%;
        }

        @media (min-width: 800px) {
            width: 768px;
        }

        @media (min-width: 1056px) {
            width: 1024px;
        }

        @media (min-width: 1232px) {
            width: 1200px;
        }

        @media (min-width: 1472px) {
            width: 1440px;
        }
    }

    @if $fluid == true {
        width: 100%;
    }
}
