@mixin select($min-width: auto) {
    font-family: inherit;
    font-size: 1rem;
    font-family: inherit;
    border-radius: var(--border__radius--sm);
    border: 1px solid var(--color__grey--black30);
    padding: 0.75rem 1rem;
    display: block;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    color: inherit;
    background-image: url("data:image/svg+xml;charset=US-ASCII, %3Csvg%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2024%2024%22%20aria-labelledby%3D%22sortingIconTitle%22%20stroke%3D%22%23333%22%20stroke-width%3D%221%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%20color%3D%22%23333%22%3E%20%3Ctitle%20id%3D%22sortingIconTitle%22%3ESorting%3C%2Ftitle%3E%20%3Cpolyline%20points%3D%228%208.333%2012%204.333%2016%208.333%2016%208.333%22%2F%3E%20%3Cpolyline%20points%3D%2216%2015.667%2012%2019.667%208%2015.667%208%2015.667%22%2F%3E%20%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.75rem top 50%, 0 0;
    background-size: 1rem auto, 100%;
    min-width: $min-width;
}
