@font-face {
    font-family: "OpenSans-Light";
    src: local("OpenSans-Light"),
        url("/src/static/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-LightItalic";
    src: local("OpenSans-LightItalic"),
        url("/src/static/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"),
        url("/src/static/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: local("OpenSans-Italic"),
        url("/src/static/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: local("OpenSans-SemiBold"),
        url("/src/static/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: local("OpenSans-SemiBoldItalic"),
        url("/src/static/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: local("OpenSans-Bold"),
        url("/src/static/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: local("OpenSans-BoldItalic"),
        url("/src/static/fonts/OpenSans-Bold.ttf") format("truetype");
}
