.image__responsive {
    width: 100%;
    display: block;
    height: auto;
}

.figure__proportion {
    position: relative;
    overflow: hidden;
    width: 100%;

    &.figure__proportion--standard {
        padding-top: 75%;
    }

    &.figure__proportion--widescreen {
        padding-top: 56.25%;
    }

    &.figure__proportion--cinemascope {
        padding-top: 42.86%;
    }

    > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.hidden {
    display: none;
}
