:root {
    --font__light: "OpenSans-Light", sans-serif;
    --font__light--italic: "OpenSans-LightItalic", sans-serif;
    --font__regular: "OpenSans-Regular", sans-serif;
    --font__regular--italic: "OpenSans-Italic", sans-serif;
    --font__semibold: "OpenSans-SemiBold", sans-serif;
    --font__semibold--italic: "OpenSans-SemiBoldItalic", sans-serif;
    --font__bold: "OpenSans-Bold", sans-serif;
    --font__bold--italic: "OpenSans-BoldItalic", sans-serif;
    --color__primary--blue: #1c1f66;
    --color__primary--gray: #eff0f3;
    --color__primary--black: #333;
    --color__accent--blue: #006bc7;
    --color__accent--lightblue: #c8e3f9;
    --color__accent--pink: #ce2981;
    --color__accent--lightpink: #ffcfe9;
    --color__accent--green: #00856f;
    --color__accent--lightgreen: #c5ebe4;
    --color__accent--purple: #6347c9;
    --color__accent--lightpurple: #e5d8f9;
    --color__accent--orange: #d04438;
    --color__accent--lightorange: #ffd8d8;
    --color__accent--yellow: #fab834;
    --color__accent--gray: #627794;
    --color__accent--lightgray: #fff2d4;
    --color__accent--brown: #a16a3d;
    --color__accent--lightbrown: #f0e3d8;
}
